/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* -------------------------------------- ESTILOS INDEX -------------------------------------- */
.bodyIndex {
  font-family: 'Kanit', sans-serif;
  background-color: #e2e2e2;
  color: #222222; }
  .bodyIndex header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #ccc solid;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    margin-bottom: 30px; }
    .bodyIndex header a {
      text-decoration: none; }
    .bodyIndex header .logoJulian {
      margin-left: 15px;
      width: 35px;
      filter: invert(12%) sepia(29%) saturate(0%) hue-rotate(305deg) brightness(117%) contrast(105%);
      transition: all 0.1s linear; }
      .bodyIndex header .logoJulian:hover {
        filter: invert(12%) sepia(70%) saturate(1327%) hue-rotate(178deg) brightness(99%) contrast(98%); }
    .bodyIndex header .logoAfter {
      height: 35px; }
      .bodyIndex header .logoAfter::after {
        opacity: 0;
        position: absolute;
        top: 15px;
        left: -100%;
        content: "Julian Lobos";
        font-weight: 600;
        color: #05304e;
        padding-left: 10px;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .bodyIndex header .logoAfter:hover::after {
        opacity: 1;
        left: 55px; }
    .bodyIndex header .headerList {
      margin: 15px;
      list-style: none; }
      .bodyIndex header .headerList .listItem {
        display: inline-block;
        margin-right: 10px; }
        .bodyIndex header .headerList .listItem a {
          text-decoration: none;
          color: #222222;
          transition: all 0.4s ease; }
          .bodyIndex header .headerList .listItem a:hover {
            color: #05304e; }
    .bodyIndex header .hamburgerIndex {
      width: 28px;
      height: 30px;
      margin: 10px 15px;
      display: none; }
      .bodyIndex header .hamburgerIndex div {
        width: 100%;
        height: 5px;
        background: #222222;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden; }
  .bodyIndex main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .bodyIndex main .aboutMe {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0 3rem 0; }
      .bodyIndex main .aboutMe .profilePhoto {
        width: 200px; }
      .bodyIndex main .aboutMe .languagesAndTech {
        color: #05304e;
        font-weight: 600;
        font-size: 2.5rem;
        text-transform: uppercase; }
      .bodyIndex main .aboutMe .iconsLanguages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; }
        .bodyIndex main .aboutMe .iconsLanguages img {
          width: 60px;
          margin: 10px;
          cursor: pointer; }
    .bodyIndex main .indexTitle {
      color: #05304e;
      font-weight: 900;
      font-size: 3.5rem;
      cursor: pointer; }
    .bodyIndex main .projectList {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
      flex-direction: column;
      width: 100%; }
      .bodyIndex main .projectList li {
        width: 100%;
        height: 80vh;
        font-size: 1.15em;
        transition: all 0.3s ease;
        cursor: pointer;
        font-size: 3.5rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase; }
        .bodyIndex main .projectList li a {
          text-decoration: none;
          color: #e2e2e2;
          transition: all 0.3s ease; }
        .bodyIndex main .projectList li:hover {
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
          .bodyIndex main .projectList li:hover a {
            background-color: #222222;
            padding: 1rem 2.5rem;
            border-radius: 30px; }
      .bodyIndex main .projectList .p1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../img/project1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
        .bodyIndex main .projectList .p1:hover {
          background-image: url("../img/project1.png"); }
      .bodyIndex main .projectList .p2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../img/project2.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
        .bodyIndex main .projectList .p2:hover {
          background-image: url("../img/project2.png"); }
      .bodyIndex main .projectList .p3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../img/project3.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
        .bodyIndex main .projectList .p3:hover {
          background-image: url("../img/project3.png"); }
      .bodyIndex main .projectList .p4 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../img/project4.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
        .bodyIndex main .projectList .p4:hover {
          background-image: url("../img/project4.png"); }
      .bodyIndex main .projectList .p5 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../img/project5.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
        .bodyIndex main .projectList .p5:hover {
          background-image: url("../img/project5.png"); }
      .bodyIndex main .projectList .p6 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../img/project6.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
        .bodyIndex main .projectList .p6:hover {
          background-image: url("../img/project6.png"); }

/* -------------------------------------- ESTILOS SIGN UP -------------------------------------- */
.bodySignUp {
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke; }
  .bodySignUp header {
    position: absolute;
    height: 45px;
    margin: 15px 0;
    left: 12.5%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.85);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    .bodySignUp header a {
      text-decoration: none;
      font-weight: 600; }
      .bodySignUp header a .logoSignUp {
        filter: invert(9%) sepia(99%) saturate(5017%) hue-rotate(277deg) brightness(80%) contrast(97%);
        width: 45px;
        padding-left: 15px;
        transition: all 0.4s ease;
        margin: auto 0; }
      .bodySignUp header a:nth-child(4) {
        color: #e2e2e2; }
    .bodySignUp header .hamburgerSup {
      width: 28px;
      height: 30px;
      margin: 10px 15px;
      display: none; }
      .bodySignUp header .hamburgerSup div {
        width: 100%;
        height: 5px;
        background: #571089;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden; }
    .bodySignUp header .btnSignIn {
      padding: 5px 15px;
      margin-right: 15px;
      background: linear-gradient(140deg, #d55d92 0%, #47126b 100%);
      border-radius: 20px; }
    .bodySignUp header .menuList {
      list-style: none; }
      .bodySignUp header .menuList .menuItem {
        display: inline-block;
        padding-right: 15px; }
        .bodySignUp header .menuList .menuItem a {
          color: #222222; }
  .bodySignUp .signUpPage {
    width: 100%;
    height: 100vh;
    display: flex; }
    .bodySignUp .signUpPage .formPage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%; }
      .bodySignUp .signUpPage .formPage .formSignUp {
        margin-left: 100px;
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 5px; }
      .bodySignUp .signUpPage .formPage .formMessage {
        margin: 0 15px 15px 100px;
        color: #646464; }
      .bodySignUp .signUpPage .formPage form {
        margin-left: 100px; }
        .bodySignUp .signUpPage .formPage form label {
          font-weight: 600; }
        .bodySignUp .signUpPage .formPage form label:nth-child(4) {
          font-weight: 400; }
        .bodySignUp .signUpPage .formPage form input {
          padding: 5px;
          height: 35px;
          border: solid 1px #ccc;
          margin: 5px 0 15px 0;
          border-radius: 20px; }
          .bodySignUp .signUpPage .formPage form input:hover {
            border: 1px solid linear-gradient(140deg, #d55d92 0%, #47126b 100%); }
        .bodySignUp .signUpPage .formPage form #termsConditions {
          font-weight: 400;
          margin-right: 15px; }
        .bodySignUp .signUpPage .formPage form [type="checkbox"] {
          vertical-align: middle;
          padding: 0;
          margin: 5px 10px 10px 0; }
        .bodySignUp .signUpPage .formPage form [type="submit"] {
          width: 50%;
          background: linear-gradient(140deg, #d55d92 0%, #47126b 100%);
          color: #e2e2e2;
          font-weight: 600;
          font-size: 1.1em;
          cursor: pointer; }
          .bodySignUp .signUpPage .formPage form [type="submit"]:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
      .bodySignUp .signUpPage .formPage .signInMessage {
        margin: 0 15px 0 100px; }
        .bodySignUp .signUpPage .formPage .signInMessage a {
          text-decoration: none;
          color: #571089;
          font-weight: 600; }
          .bodySignUp .signUpPage .formPage .signInMessage a:hover {
            text-decoration: underline; }
    .bodySignUp .signUpPage .welcomePage {
      color: #e2e2e2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      background: linear-gradient(140deg, #d55d92 0%, #47126b 100%);
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px; }
      .bodySignUp .signUpPage .welcomePage .welcomeTitle {
        font-weight: 600; }
      .bodySignUp .signUpPage .welcomePage .welcomeMessage {
        text-align: center;
        margin: 10px 100px; }
      .bodySignUp .signUpPage .welcomePage img {
        margin: 80px 0 15px 0;
        width: 50%; }

/* -------------------------------------- STYLES FOOTBALL CLUB PAGE -------------------------------------- */
.bodyFC {
  font-family: 'Raleway', sans-serif;
  background-color: #222222; }
  .bodyFC header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .bodyFC header .hamburgerFc {
      width: 28px;
      height: 30px;
      margin: 10px 15px;
      display: none; }
      .bodyFC header .hamburgerFc div {
        width: 100%;
        height: 5px;
        background: #e2e2e2;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden; }
    .bodyFC header img {
      width: 80px;
      height: auto;
      margin: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
    .bodyFC header .menuList {
      margin: 20px; }
      .bodyFC header .menuList .listItem {
        display: inline-block;
        padding: 0 10px; }
        .bodyFC header .menuList .listItem a {
          text-decoration: none;
          color: #e2e2e2; }
  .bodyFC main .heroFC {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(25, 188, 252, 0.5)), url("../img/FutbolPage/fondoFC.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e2e2e2; }
    .bodyFC main .heroFC .heroTitle {
      font-family: 'League Gothic', sans-serif;
      font-size: 4.75em; }
    .bodyFC main .heroFC .heroSubtitle {
      font-size: 1.1em; }
  .bodyFC main .noticiasFc {
    background-color: #222222;
    color: #e2e2e2;
    font-family: 'Oswald', sans-serif; }
    .bodyFC main .noticiasFc section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
    .bodyFC main .noticiasFc .newsCard {
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 100%, black 100%), url("../img/FutbolPage/fondoFC.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      cursor: pointer;
      width: 250px;
      height: 300px;
      margin: 25px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease; }
      .bodyFC main .noticiasFc .newsCard:hover {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 100%), url("../img/FutbolPage/fondoFC.jpg");
        background-size: 200%; }
      .bodyFC main .noticiasFc .newsCard .cardTitle {
        font-weight: 600;
        font-size: 1.25em;
        text-align: center; }
      .bodyFC main .noticiasFc .newsCard .cardSubtitle {
        text-align: center; }
    .bodyFC main .noticiasFc .noticiasTitle {
      font-family: 'League Gothic', sans-serif;
      font-size: 4.5em;
      padding: 25px 30px;
      border-bottom: 1px solid #ccc; }
  .bodyFC main .resultadosFc {
    color: #e2e2e2; }
    .bodyFC main .resultadosFc .resultadosTitle {
      font-family: 'League Gothic', sans-serif;
      font-size: 4.5em;
      padding: 25px 30px;
      text-align: center;
      border-bottom: 1px solid #ccc; }
    .bodyFC main .resultadosFc .resultadosTable {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 25px 0 80px 0; }
      .bodyFC main .resultadosFc .resultadosTable .referencias {
        margin-top: 25px;
        text-align: center;
        font-style: italic; }
      .bodyFC main .resultadosFc .resultadosTable label {
        font-weight: 600;
        font-size: 1.25em; }
      .bodyFC main .resultadosFc .resultadosTable select {
        width: 30%;
        height: 40px;
        border: none;
        background-color: #222222;
        color: #e2e2e2;
        margin: 5px 0 15px 0;
        transition: all 0.6s ease; }
        .bodyFC main .resultadosFc .resultadosTable select:hover {
          background-color: #0f0f0f; }
        .bodyFC main .resultadosFc .resultadosTable select option {
          font-weight: 600;
          font-family: 'Raleway', sans-serif; }
      .bodyFC main .resultadosFc .resultadosTable table, .bodyFC main .resultadosFc .resultadosTable th, .bodyFC main .resultadosFc .resultadosTable td {
        border: 1px solid #e2e2e2;
        border-collapse: collapse; }
      .bodyFC main .resultadosFc .resultadosTable table {
        width: 60%;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; }
        .bodyFC main .resultadosFc .resultadosTable table tr {
          height: 40px; }
          .bodyFC main .resultadosFc .resultadosTable table tr:hover {
            background-color: #3db1df;
            color: #222222; }
            .bodyFC main .resultadosFc .resultadosTable table tr:hover img {
              filter: invert(10%) sepia(10%) saturate(19%) hue-rotate(41deg) brightness(98%) contrast(91%); }
          .bodyFC main .resultadosFc .resultadosTable table tr .tableHeading {
            text-transform: uppercase;
            font-size: 1.15em; }
          .bodyFC main .resultadosFc .resultadosTable table tr td {
            cursor: pointer; }
            .bodyFC main .resultadosFc .resultadosTable table tr td span {
              display: none; }
              .bodyFC main .resultadosFc .resultadosTable table tr td span img {
                width: 15px;
                filter: invert(100%) sepia(0%) saturate(1672%) hue-rotate(268deg) brightness(88%) contrast(99%); }
  .bodyFC main .fixtureFc {
    color: #e2e2e2;
    display: flex;
    flex-direction: column; }
    .bodyFC main .fixtureFc .fixtureTitle {
      width: 100%;
      align-self: flex-end;
      font-family: 'League Gothic', sans-serif;
      font-size: 4.5em;
      padding: 25px 30px;
      text-align: end;
      border-bottom: 1px solid #ccc; }
    .bodyFC main .fixtureFc img {
      align-self: center;
      width: 150px;
      margin: 15px 0;
      -webkit-filter: drop-shadow(5px 5px 5px black);
      filter: drop-shadow(5px 5px 5px black);
      transition: all 1s ease;
      -webkit-transition: all 2s ease;
      z-index: -1; }
      .bodyFC main .fixtureFc img:hover {
        transform: scale(1.15); }
    .bodyFC main .fixtureFc .torneo {
      align-self: center;
      font-family: 'League Gothic', sans-serif;
      font-size: 3em;
      text-transform: uppercase; }
    .bodyFC main .fixtureFc section {
      margin: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
      .bodyFC main .fixtureFc section .nextCard {
        font-family: 'Oswald', sans-serif;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
        margin: 25px;
        border: 1px solid #ccc;
        min-width: 150px; }
        .bodyFC main .fixtureFc section .nextCard:hover {
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
          .bodyFC main .fixtureFc section .nextCard:hover .we {
            color: #3db1df; }
        .bodyFC main .fixtureFc section .nextCard .matchDate {
          text-transform: uppercase;
          border-bottom: 1px solid #ccc;
          max-width: 100%;
          width: 100%; }
        .bodyFC main .fixtureFc section .nextCard .localTeam, .bodyFC main .fixtureFc section .nextCard .visitorTeam {
          padding: 0 15px; }
  .bodyFC main .galeriaFc {
    color: #e2e2e2; }
    .bodyFC main .galeriaFc .galeriaTitle {
      width: 100%;
      font-family: 'League Gothic', sans-serif;
      font-size: 4.5em;
      padding: 25px 30px;
      text-align: start;
      border-bottom: 1px solid #ccc; }
    .bodyFC main .galeriaFc .photo-gallery {
      color: #e2e2e2;
      background-color: #222222; }
      .bodyFC main .galeriaFc .photo-gallery .photos {
        padding-bottom: 20px; }
      .bodyFC main .galeriaFc .photo-gallery .item {
        padding-bottom: 30px; }
  .bodyFC main .elClub {
    color: #e2e2e2; }
    .bodyFC main .elClub .clubTitle {
      width: 100%;
      font-family: 'League Gothic', sans-serif;
      font-size: 4.5em;
      padding: 25px 30px;
      text-align: center;
      border-bottom: 1px solid #ccc; }
    .bodyFC main .elClub .clubText {
      margin: 60px;
      padding: 25px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-left: 10px solid black;
      background-color: rgba(255, 255, 255, 0.164); }
  .bodyFC .upArrow {
    background-color: rgba(255, 255, 255, 0.363);
    position: fixed;
    height: 40px;
    width: 40px;
    right: 40px;
    bottom: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center; }
    .bodyFC .upArrow img {
      padding: 5px;
      width: 40px;
      height: auto; }
  .bodyFC footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222; }
    .bodyFC footer .footerDerechos {
      font-size: 0.75em;
      margin: 5px 15px;
      color: #e2e2e2; }
    .bodyFC footer .footerRedes img {
      width: 20px;
      height: auto;
      filter: invert(89%) sepia(21%) saturate(0%) hue-rotate(161deg) brightness(101%) contrast(89%);
      margin: 5px 15px 5px 0;
      transition: all 0.4s ease; }
      .bodyFC footer .footerRedes img:hover {
        transform: scale(1.1); }

/* ******************** Travel CBA styles *********************** */
.bodyTravel {
  background-color: #dfdddd;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .bodyTravel header img {
    width: 40px;
    position: absolute;
    top: 25px;
    left: 25px;
    filter: invert(80%) sepia(5%) saturate(0%) hue-rotate(150deg) brightness(85%) contrast(91%);
    transition: all 0.8s ease; }
    .bodyTravel header img:hover {
      transform: scale(1.1); }
  .bodyTravel main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .bodyTravel main .subtitle {
      margin-bottom: 10px; }
    .bodyTravel main .titles {
      margin: 50px 0 25px 0;
      border-bottom: 1px #aaa solid;
      width: 90vw;
      text-align: center; }
    .bodyTravel main .cbaTitle {
      font-size: 3em;
      font-weight: 900;
      display: inline-block;
      z-index: 2; }
    .bodyTravel main .argTitle {
      font-size: 3em;
      font-weight: 200;
      display: inline-block;
      z-index: 2; }
    .bodyTravel main .cbaCards {
      display: flex;
      justify-content: center;
      align-items: center; }
      .bodyTravel main .cbaCards .cc {
        background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.95)), url("../img/TravelCba/cba.jpg"); }
      .bodyTravel main .cbaCards .vcp {
        background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.95)), url("../img/TravelCba/cba4.webp"); }
      .bodyTravel main .cbaCards .mc {
        background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.95)), url("../img/TravelCba/cba3.jpg"); }
      .bodyTravel main .cbaCards .lc {
        background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.95)), url("../img/TravelCba/cba2.jpg"); }
      .bodyTravel main .cbaCards .jm {
        background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.95)), url("../img/TravelCba/cba5.jpg"); }
      .bodyTravel main .cbaCards .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 25px 10px 50px 10px;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        color: #e2e2e2;
        width: 80px;
        height: 350px;
        border-radius: 15px;
        box-shadow: #13161a 0px 20px 30px -10px;
        transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
        .bodyTravel main .cbaCards .card .cardTitle {
          text-align: center;
          margin: 0 0 15px 0;
          width: 350px;
          font-weight: 600;
          text-transform: uppercase;
          transform: rotate(-90deg);
          transition: all 0.5s linear; }
        .bodyTravel main .cbaCards .card .cardText {
          position: absolute;
          opacity: 0;
          bottom: -100%;
          width: 330px;
          font-size: 0.75em;
          overflow: hidden;
          z-index: -1; }
        .bodyTravel main .cbaCards .card:hover {
          width: 350px; }
          .bodyTravel main .cbaCards .card:hover .cardTitle {
            transform: unset; }
          .bodyTravel main .cbaCards .card:hover .cardText {
            bottom: 150px;
            opacity: 1;
            z-index: 0;
            transition: all 0.5s ease 0s;
            transition-delay: 0.5s; }
  .bodyTravel footer .legales {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    text-align: center;
    color: #aaa;
    font-size: 0.75em; }
    .bodyTravel footer .legales a {
      color: #aaa;
      margin: 0 0 0 7px;
      display: flex;
      align-items: center; }
    .bodyTravel footer .legales img {
      width: 14px;
      filter: invert(80%) sepia(5%) saturate(0%) hue-rotate(150deg) brightness(85%) contrast(91%); }

/* -------------------------------------- STYLES CLOUD STORAGE DASHBOARD -------------------------------------- */
.bodyCloud {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.5px;
  color: #222222;
  background-color: #eff2f9;
  display: grid;
  grid-template-columns: 70px 26% 26% 26% 8% auto;
  grid-template-areas: 'nav header header header aside aside' 'nav main main main aside aside' 'nav main main main aside aside' 'nav main main main aside aside' 'nav main main main aside aside';
  height: 100vh; }
  .bodyCloud header {
    background-color: #eff2f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 15px;
    border-radius: 30px;
    grid-area: header;
    box-shadow: 5px 5px 30px #d1d2d4, -5px -5px 30px #ffffff;
    z-index: 1; }
    .bodyCloud header .logo {
      font-weight: 300;
      font-size: 1.5em;
      cursor: pointer; }
    .bodyCloud header a {
      text-decoration: none;
      color: #222222; }
    .bodyCloud header .getPro {
      color: #e2e2e2;
      background-color: #812897;
      background: linear-gradient(90deg, #9a3be7 30%, #ff0bf5 100%);
      padding: 10px 20px;
      border-radius: 30px;
      box-shadow: 5px 5px 30px #d1d2d4, -5px -5px 30px #ffffff;
      transition: all 0.4s ease; }
      .bodyCloud header .getPro:hover {
        transform: scale(1.05); }
  .bodyCloud .navbar {
    background-color: #eff2f9;
    box-shadow: 5px 5px 30px #d1d2d4, -5px -5px 30px #ffffff;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px; }
    .bodyCloud .navbar .navSections .hamburgerMenu {
      width: 28px;
      height: 30px;
      margin: 10px 15px;
      display: none;
      cursor: pointer; }
      .bodyCloud .navbar .navSections .hamburgerMenu div {
        width: 100%;
        height: 5px;
        background: #6e7f8d;
        border-radius: 20px;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden; }
    .bodyCloud .navbar .logo {
      position: absolute;
      top: 10px;
      left: 10px; }
    .bodyCloud .navbar ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none; }
      .bodyCloud .navbar ul li {
        padding: 23px; }
        .bodyCloud .navbar ul li img {
          width: 25px;
          height: 25px;
          filter: invert(49%) sepia(11%) saturate(611%) hue-rotate(165deg) brightness(96%) contrast(89%); }
        .bodyCloud .navbar ul li:hover {
          background-color: #e4ebf1;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px; }
      .bodyCloud .navbar ul .navHome {
        background-color: #e4ebf1;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px; }
    .bodyCloud .navbar .navMenuPhone {
      display: none;
      background-color: #eff2f9;
      position: absolute;
      bottom: 59px;
      left: 80%;
      right: 0;
      border: 1px solid #6e7f8d; }
      .bodyCloud .navbar .navMenuPhone li {
        display: flex;
        justify-content: center;
        align-items: center; }
        .bodyCloud .navbar .navMenuPhone li:hover {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
  .bodyCloud main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eff2f9;
    grid-area: main;
    margin: 15px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 5px 5px 30px #d1d2d4, -5px -5px 30px #ffffff;
    z-index: 1; }
    .bodyCloud main .title {
      text-align: center;
      border-bottom: 1px solid #ccc;
      height: 25px;
      margin: 15px 0; }
    .bodyCloud main .cardCounter {
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      .bodyCloud main .cardCounter div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 140px;
        border-radius: 30px;
        box-shadow: 5px 5px 30px #d1d2d4, -5px -5px 30px #ffffff;
        margin: 10px 20px;
        cursor: pointer;
        transition: all 0.4s ease; }
        .bodyCloud main .cardCounter div:hover {
          transform: scale(1.05);
          box-shadow: 5px 5px 30px #c0c2c5, -5px -5px 30px #ffffff; }
        .bodyCloud main .cardCounter div img {
          width: 35px;
          height: 35px;
          margin: 10px;
          filter: invert(51%) sepia(27%) saturate(267%) hue-rotate(165deg) brightness(89%) contrast(84%); }
    .bodyCloud main .usage {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 25px; }
      .bodyCloud main .usage .progressBarTotal {
        height: 15px;
        width: 200px;
        background-color: #dadada;
        border-radius: 20px; }
        .bodyCloud main .usage .progressBarTotal .progressBarUsed {
          height: 15px;
          width: 67%;
          border-radius: 20px;
          background: linear-gradient(90deg, #9a3be7 30%, #ff0bf5 100%); }
      .bodyCloud main .usage p {
        margin: 0 10px; }
    .bodyCloud main .usageOptions ul {
      list-style: none;
      margin: 35px 25px 25px 25px; }
      .bodyCloud main .usageOptions ul a {
        color: #222222;
        text-decoration: none; }
        .bodyCloud main .usageOptions ul a:hover {
          text-decoration: underline; }
      .bodyCloud main .usageOptions ul li span {
        background: linear-gradient(90deg, #9a3be7 30%, #ff0bf5 100%);
        padding: 10px 5px;
        color: #e2e2e2;
        border-radius: 30px;
        margin: 0px 5px; }
    .bodyCloud main .terms ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .bodyCloud main .terms ul li {
        margin: 0 15px 0 0; }
        .bodyCloud main .terms ul li a {
          color: #222222;
          text-decoration: none; }
          .bodyCloud main .terms ul li a:hover {
            text-decoration: underline; }
  .bodyCloud aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #eff2f9;
    grid-area: aside;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 5px 5px 30px #d1d2d4, -5px -5px 30px #ffffff; }
    .bodyCloud aside p {
      margin: 30px 10px; }
    .bodyCloud aside .asideCard {
      margin-top: 35px;
      width: 125px;
      height: 125px; }
      .bodyCloud aside .asideCard p {
        color: transparent;
        font-size: 0.75em;
        margin: 0; }
      .bodyCloud aside .asideCard img {
        width: 110px;
        z-index: 1;
        border-radius: 20px;
        transition: all 0.4s ease;
        cursor: pointer; }
        .bodyCloud aside .asideCard img:hover {
          transform: scale(1.05);
          box-shadow: 5px 5px 30px #d1d2d4, -5px -5px 30px #ffffff; }
      .bodyCloud aside .asideCard:hover p {
        transform: translateY(130px);
        color: #222222;
        transition: all 0.4s ease-out; }

/* ---------------------------- Media queries ---------------------------- */
@media (max-width: 945px) {
  /* Cloud storage dashboard page */
  .bodyCloud {
    grid-template-columns: 70px auto auto auto;
    grid-template-areas: 'nav header header header' 'nav main main main' 'nav main main main' 'nav main main main' 'nav main main main'; }
    .bodyCloud .navbar {
      height: 100%; }
    .bodyCloud main .cardCounter {
      flex-wrap: wrap; }
    .bodyCloud main .terms {
      font-size: 0.75em; }
    .bodyCloud main .usageOptions ul li {
      margin: 10px 0; }
    .bodyCloud aside {
      display: none; } }

@media (max-width: 768px) {
  /* Sign Up page */
  .bodySignUp .signUpPage .formPage .formSignUp {
    margin-left: 50px; }
  .bodySignUp .signUpPage .formPage .formMessage {
    margin: 0 15px 15px 50px; }
  .bodySignUp .signUpPage .formPage form {
    margin-left: 50px; }
  .bodySignUp .signUpPage .formPage .signInMessage {
    margin: 0 15px 0 50px; }
  .bodySignUp .signUpPage .welcomePage .welcomeMessage {
    margin: 10px 50px; }
  .bodyFC header .menuList .listItem {
    font-size: 0.85em; }
  .bodyFC main .heroFC .heroTitle {
    font-size: 2.5em;
    text-align: center; }
  .bodyFC main .heroFC .heroSubtitle {
    font-size: 1em; }
  /* travel cba */
  .bodyTravel {
    overflow: auto; }
    .bodyTravel main .cbaCards {
      flex-direction: column; }
      .bodyTravel main .cbaCards .card {
        height: 60px;
        width: 350px;
        margin: 0 0 25px 0; }
        .bodyTravel main .cbaCards .card .cardTitle {
          transform: unset;
          line-height: 60px;
          margin: 0; }
        .bodyTravel main .cbaCards .card .cardText {
          position: unset; }
        .bodyTravel main .cbaCards .card:hover {
          height: 350px; } }

@media (max-width: 576px) {
  /* index */
  .bodyIndex header {
    width: 100%; }
    .bodyIndex header .hamburgerIndex {
      display: inline-block; }
    .bodyIndex header #hamburger.on .one {
      transform: rotate(45deg) translate(5px, 5px); }
    .bodyIndex header #hamburger.on .two {
      opacity: 0; }
    .bodyIndex header #hamburger.on .three {
      transform: rotate(-45deg) translate(7px, -8px); }
    .bodyIndex header .headerList {
      position: absolute;
      right: 0px;
      top: 51px;
      border: 1px solid #e2e2e2;
      background-color: #222222;
      width: 100%;
      height: auto;
      padding: 10px;
      border-radius: 3px;
      line-height: 20px;
      text-align: center;
      margin: auto;
      display: none; }
      .bodyIndex header .headerList .listItem {
        display: block;
        padding: 20px; }
  /* Sign Up page */
  .bodySignUp header {
    position: static;
    width: 100%;
    margin: 0 0 30px 0;
    border-radius: 0;
    box-shadow: none; }
    .bodySignUp header .hamburgerSup {
      display: inline-block; }
    .bodySignUp header #hamburgerSup.on .one {
      transform: rotate(45deg) translate(5px, 5px); }
    .bodySignUp header #hamburgerSup.on .two {
      opacity: 0; }
    .bodySignUp header #hamburgerSup.on .three {
      transform: rotate(-45deg) translate(7px, -8px); }
    .bodySignUp header .menuList {
      display: none;
      position: absolute;
      width: 100%;
      top: 45px;
      background-color: whitesmoke;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; }
      .bodySignUp header .menuList .menuItem {
        display: block;
        padding: 15px 5px;
        margin: 20px 0px;
        text-align: center;
        transition: all 0.2s ease;
        font-size: 1.1em;
        font-weight: 600; }
        .bodySignUp header .menuList .menuItem:hover {
          background-color: #d55d92; }
          .bodySignUp header .menuList .menuItem:hover a {
            color: #e2e2e2; }
    .bodySignUp header a:nth-child(4) {
      display: none; }
  .bodySignUp .signUpPage {
    display: block; }
    .bodySignUp .signUpPage .formPage {
      width: 100%;
      align-items: center;
      text-align: center; }
      .bodySignUp .signUpPage .formPage .formSignUp {
        margin: 0 0 15px 0; }
      .bodySignUp .signUpPage .formPage .formMessage {
        margin: 0 15px 15px 15px; }
      .bodySignUp .signUpPage .formPage form {
        margin: 0 0 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .bodySignUp .signUpPage .formPage form br {
          display: none; }
      .bodySignUp .signUpPage .formPage .signInMessage {
        margin: 0 0 30px 0; }
    .bodySignUp .signUpPage .welcomePage {
      width: 100%;
      border-bottom-left-radius: 0;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      padding-bottom: 60px;
      text-align: center; }
      .bodySignUp .signUpPage .welcomePage .welcomeTitle {
        margin: 0 30px 10px 30px; }
      .bodySignUp .signUpPage .welcomePage .welcomeMessage {
        margin: 0 30px; }
  /* Football Club page */
  .bodyFC header {
    position: fixed;
    height: 90px;
    background-image: linear-gradient(black, rgba(255, 255, 255, 0));
    justify-content: space-between;
    padding-top: 10px; }
    .bodyFC header img {
      height: 85px;
      width: auto; }
    .bodyFC header .menuList {
      display: none;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: #0f7fac;
      margin: 0;
      padding: 30% 0 0 0; }
      .bodyFC header .menuList .listItem {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 1.5em; }
        .bodyFC header .menuList .listItem:hover {
          background-color: #e2e2e2; }
          .bodyFC header .menuList .listItem:hover a {
            color: #222222; }
    .bodyFC header .hamburgerFc {
      display: inline-block;
      z-index: 1; }
    .bodyFC header #hamburgerFc.on .one {
      transform: rotate(45deg) translate(5px, 5px); }
    .bodyFC header #hamburgerFc.on .two {
      opacity: 0; }
    .bodyFC header #hamburgerFc.on .three {
      transform: rotate(-45deg) translate(7px, -8px); }
  .bodyFC main .heroFC .heroTitle {
    font-size: 2em;
    text-align: center; }
  .bodyFC main .heroFC .heroSubtitle {
    font-size: 1em; }
  .bodyFC main .noticiasFc {
    text-align: center; }
    .bodyFC main .noticiasFc .noticiasTitle {
      font-size: 3.5em; }
    .bodyFC main .noticiasFc section .newsCard {
      height: 200px; }
  .bodyFC main .resultadosFc .resultadosTitle {
    font-size: 3.5em; }
  .bodyFC main .resultadosFc .resultadosTable label {
    font-size: 1em; }
  .bodyFC main .resultadosFc .resultadosTable table {
    font-size: 0.75em;
    width: 90%; }
    .bodyFC main .resultadosFc .resultadosTable table tr th {
      min-width: 25px; }
  .bodyFC main .fixtureFc .fixtureTitle {
    font-size: 3.5em;
    text-align: center; }
  .bodyFC main .fixtureFc img {
    width: 80px; }
  .bodyFC main .fixtureFc .torneo {
    font-size: 3em; }
  .bodyFC main .fixtureFc section {
    margin: 15px;
    font-size: 0.75em; }
  .bodyFC main .galeriaFc .galeriaTitle {
    font-size: 3.5em;
    text-align: center; }
  .bodyFC main .galeriaFc .photo-gallery .container .row .item {
    position: unset; }
  .bodyFC .upArrow {
    right: 15px;
    bottom: 15px; }
  .bodyFC footer {
    position: static; }
    .bodyFC footer .footerDerechos {
      font-size: 0.5em; }
    .bodyFC footer .footerRedes img {
      width: 15px; }
  /* travel cba */
  .bodyTravel main .cbaCards .card {
    font-size: 0.75em;
    height: 60px;
    width: 250px;
    margin: 0 0 25px 0; }
    .bodyTravel main .cbaCards .card .cardText {
      padding: 0px; }
    .bodyTravel main .cbaCards .card:hover {
      height: 250px;
      width: 250px; }
      .bodyTravel main .cbaCards .card:hover .cardText {
        padding: 0 50px;
        transition-delay: 0.75s; }
  /* Cloud storage dashboard page */
  .bodyCloud {
    font-size: 0.85em;
    grid-template-columns: auto auto auto;
    grid-template-areas: 'header header header' 'main main main' 'main main main' 'main main main' 'main main main'; }
    .bodyCloud .navbar {
      all: unset;
      background-color: #eff2f9;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #6e7f8d; }
      .bodyCloud .navbar .navSections {
        flex-direction: row;
        display: flex;
        align-items: center; }
        .bodyCloud .navbar .navSections .navDocuments, .bodyCloud .navbar .navSections .navGallery, .bodyCloud .navbar .navSections .navSettings {
          display: none; }
        .bodyCloud .navbar .navSections li {
          padding: 15px;
          margin: 0 15px; }
          .bodyCloud .navbar .navSections li:hover {
            border-bottom-right-radius: 0;
            border-top-left-radius: 30px; }
        .bodyCloud .navbar .navSections .navHome {
          border-top-left-radius: 30px;
          border-bottom-right-radius: 0; }
        .bodyCloud .navbar .navSections .hamburgerMenu {
          display: inline-block;
          z-index: 1; }
        .bodyCloud .navbar .navSections #hamburgerMenuCloud.on .one {
          transform: rotate(45deg) translate(5px, 5px); }
        .bodyCloud .navbar .navSections #hamburgerMenuCloud.on .two {
          opacity: 0; }
        .bodyCloud .navbar .navSections #hamburgerMenuCloud.on .three {
          transform: rotate(-45deg) translate(7px, -8px); }
    .bodyCloud header {
      flex-direction: column; }
      .bodyCloud header .getPro {
        display: none; }
    .bodyCloud main {
      margin: 0;
      padding-bottom: 100px; }
      .bodyCloud main .cardCounter {
        flex-wrap: wrap; }
        .bodyCloud main .cardCounter div {
          width: 90px;
          height: 90px; }
          .bodyCloud main .cardCounter div img {
            width: 25px;
            height: 25px; }
          .bodyCloud main .cardCounter div p {
            font-size: 0.75em; }
      .bodyCloud main .terms {
        font-size: 0.75em;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center; }
        .bodyCloud main .terms ul {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr; }
          .bodyCloud main .terms ul li {
            margin-bottom: 5px; }
      .bodyCloud main .usageOptions {
        text-align: center; }
        .bodyCloud main .usageOptions ul {
          margin: 0; }
          .bodyCloud main .usageOptions ul li {
            margin: 10px 0; }
            .bodyCloud main .usageOptions ul li span {
              display: none; }
    .bodyCloud aside {
      display: none; } }
