/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* -------------------------------------- ESTILOS INDEX -------------------------------------- */
.bodyIndex {
  font-family: 'Montserrat', sans-serif;
  background-color: #222222;
  color: #e2e2e2; }
  .bodyIndex header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #ccc solid;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    margin-bottom: 30px; }
    .bodyIndex header a {
      text-decoration: none; }
    .bodyIndex header .logoJulian {
      margin: 15px;
      font-size: 1.25em;
      color: #e2e2e2;
      transition: all 0.4s ease; }
      .bodyIndex header .logoJulian:hover {
        color: #ff7d00; }
    .bodyIndex header .headerList {
      margin: 15px;
      list-style: none; }
      .bodyIndex header .headerList .listItem {
        display: inline-block;
        margin-right: 10px; }
        .bodyIndex header .headerList .listItem a {
          text-decoration: none;
          color: #e2e2e2;
          transition: all 0.4s ease; }
          .bodyIndex header .headerList .listItem a:hover {
            color: #ff7d00; }
  .bodyIndex main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; }
    .bodyIndex main .indexTitle {
      color: #ff7d00; }
    .bodyIndex main .projectList {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center; }
      .bodyIndex main .projectList li {
        padding: 35px;
        margin: 10px;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        font-size: 1.15em;
        transition: all 0.3s ease; }
        .bodyIndex main .projectList li a {
          text-decoration: none;
          color: #e2e2e2; }
          .bodyIndex main .projectList li a:hover {
            color: #ff7d00; }
        .bodyIndex main .projectList li:hover {
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

/* -------------------------------------- ESTILOS SIGN UP -------------------------------------- */
.bodySignUp {
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke; }
  .bodySignUp header {
    position: absolute;
    height: 45px;
    margin: 15px 0;
    left: 12.5%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.85);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    .bodySignUp header .logoSignUp {
      padding-left: 15px;
      margin-left: 15px; }
    .bodySignUp header a {
      color: #e2e2e2;
      text-decoration: none;
      font-weight: 600; }
    .bodySignUp header .btnSignIn {
      padding: 5px 15px;
      margin-right: 15px;
      background: linear-gradient(140deg, #d55d92 0%, #47126b 100%);
      border-radius: 20px; }
    .bodySignUp header .menuList {
      list-style: none; }
      .bodySignUp header .menuList .menuItem {
        display: inline-block;
        padding-right: 15px; }
  .bodySignUp .signUpPage {
    width: 100%;
    height: 100vh;
    display: flex; }
    .bodySignUp .signUpPage .formPage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%; }
      .bodySignUp .signUpPage .formPage .formSignUp {
        margin-left: 100px;
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 5px; }
      .bodySignUp .signUpPage .formPage .formMessage {
        margin-left: 100px;
        color: #646464;
        margin-bottom: 15px; }
      .bodySignUp .signUpPage .formPage form {
        margin-left: 100px; }
        .bodySignUp .signUpPage .formPage form label {
          font-weight: 600; }
        .bodySignUp .signUpPage .formPage form label:nth-child(4) {
          font-weight: 400; }
        .bodySignUp .signUpPage .formPage form input {
          padding: 5px;
          height: 35px;
          border: solid 1px #ccc;
          margin: 5px 0 15px 0;
          border-radius: 20px; }
          .bodySignUp .signUpPage .formPage form input:hover {
            border: 1px solid linear-gradient(140deg, #d55d92 0%, #47126b 100%); }
        .bodySignUp .signUpPage .formPage form #termsConditions {
          font-weight: 400; }
        .bodySignUp .signUpPage .formPage form [type="checkbox"] {
          vertical-align: middle;
          padding: 0;
          margin: 5px 10px 10px 0; }
        .bodySignUp .signUpPage .formPage form [type="submit"] {
          width: 50%;
          background: linear-gradient(140deg, #d55d92 0%, #47126b 100%);
          color: #e2e2e2;
          font-weight: 600;
          font-size: 1.1em;
          cursor: pointer; }
          .bodySignUp .signUpPage .formPage form [type="submit"]:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
      .bodySignUp .signUpPage .formPage .signInMessage {
        margin-left: 100px; }
        .bodySignUp .signUpPage .formPage .signInMessage a {
          text-decoration: none;
          color: #571089;
          font-weight: 600; }
          .bodySignUp .signUpPage .formPage .signInMessage a:hover {
            text-decoration: underline; }
    .bodySignUp .signUpPage .welcomePage {
      color: #e2e2e2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      background: linear-gradient(140deg, #d55d92 0%, #47126b 100%);
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px; }
      .bodySignUp .signUpPage .welcomePage .welcomeTitle {
        font-weight: 600; }
      .bodySignUp .signUpPage .welcomePage .welcomeMessage {
        text-align: center;
        margin: 10px 100px; }
      .bodySignUp .signUpPage .welcomePage img {
        margin: 80px 0 15px 0;
        width: 50%; }
