/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* -------------------------------------- ESTILOS INDEX -------------------------------------- */
.bodyIndex {
  font-family: 'Montserrat', sans-serif;
  background-color: #222222;
  color: #e2e2e2; }
  .bodyIndex header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #ccc solid;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    margin-bottom: 30px; }
    .bodyIndex header a {
      text-decoration: none; }
    .bodyIndex header .logoJulian {
      margin-left: 15px;
      width: 35px;
      filter: invert(75%) sepia(96%) saturate(1%) hue-rotate(20deg) brightness(94%) contrast(110%);
      transition: all 0.1s linear; }
      .bodyIndex header .logoJulian:hover {
        filter: invert(48%) sepia(90%) saturate(1871%) hue-rotate(0deg) brightness(103%) contrast(104%); }
    .bodyIndex header .logoAfter {
      height: 35px; }
      .bodyIndex header .logoAfter::after {
        opacity: 0;
        position: absolute;
        top: 15px;
        left: -100%;
        content: "Julian Lobos";
        font-weight: 600;
        color: #ff7d00;
        padding-left: 10px;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .bodyIndex header .logoAfter:hover::after {
        opacity: 1;
        left: 55px; }
    .bodyIndex header .headerList {
      margin: 15px;
      list-style: none; }
      .bodyIndex header .headerList .listItem {
        display: inline-block;
        margin-right: 10px; }
        .bodyIndex header .headerList .listItem a {
          text-decoration: none;
          color: #e2e2e2;
          transition: all 0.4s ease; }
          .bodyIndex header .headerList .listItem a:hover {
            color: #ff7d00; }
    .bodyIndex header .hamburgerIndex {
      width: 28px;
      height: 30px;
      margin: 10px 15px;
      display: none; }
      .bodyIndex header .hamburgerIndex div {
        width: 100%;
        height: 5px;
        background: white;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden; }
  .bodyIndex main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; }
    .bodyIndex main .indexTitle {
      color: #ff7d00; }
    .bodyIndex main .projectList {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center; }
      .bodyIndex main .projectList li {
        padding: 35px;
        margin: 10px;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        font-size: 1.15em;
        transition: all 0.3s ease; }
        .bodyIndex main .projectList li a {
          text-decoration: none;
          color: #e2e2e2; }
          .bodyIndex main .projectList li a:hover {
            color: #ff7d00; }
        .bodyIndex main .projectList li:hover {
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

/* -------------------------------------- ESTILOS SIGN UP -------------------------------------- */
.bodySignUp {
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke; }
  .bodySignUp header {
    position: absolute;
    height: 45px;
    margin: 15px 0;
    left: 12.5%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.85);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    .bodySignUp header a {
      text-decoration: none;
      font-weight: 600; }
      .bodySignUp header a .logoSignUp {
        filter: invert(9%) sepia(99%) saturate(5017%) hue-rotate(277deg) brightness(80%) contrast(97%);
        width: 45px;
        padding-left: 15px;
        transition: all 0.4s ease;
        margin: auto 0; }
      .bodySignUp header a:nth-child(4) {
        color: #e2e2e2; }
    .bodySignUp header .hamburgerSup {
      width: 28px;
      height: 30px;
      margin: 10px 15px;
      display: none; }
      .bodySignUp header .hamburgerSup div {
        width: 100%;
        height: 5px;
        background: #571089;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden; }
    .bodySignUp header .btnSignIn {
      padding: 5px 15px;
      margin-right: 15px;
      background: linear-gradient(140deg, #d55d92 0%, #47126b 100%);
      border-radius: 20px; }
    .bodySignUp header .menuList {
      list-style: none; }
      .bodySignUp header .menuList .menuItem {
        display: inline-block;
        padding-right: 15px; }
  .bodySignUp .signUpPage {
    width: 100%;
    height: 100vh;
    display: flex; }
    .bodySignUp .signUpPage .formPage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%; }
      .bodySignUp .signUpPage .formPage .formSignUp {
        margin-left: 100px;
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 5px; }
      .bodySignUp .signUpPage .formPage .formMessage {
        margin: 0 15px 15px 100px;
        color: #646464; }
      .bodySignUp .signUpPage .formPage form {
        margin-left: 100px; }
        .bodySignUp .signUpPage .formPage form label {
          font-weight: 600; }
        .bodySignUp .signUpPage .formPage form label:nth-child(4) {
          font-weight: 400; }
        .bodySignUp .signUpPage .formPage form input {
          padding: 5px;
          height: 35px;
          border: solid 1px #ccc;
          margin: 5px 0 15px 0;
          border-radius: 20px; }
          .bodySignUp .signUpPage .formPage form input:hover {
            border: 1px solid linear-gradient(140deg, #d55d92 0%, #47126b 100%); }
        .bodySignUp .signUpPage .formPage form #termsConditions {
          font-weight: 400;
          margin-right: 15px; }
        .bodySignUp .signUpPage .formPage form [type="checkbox"] {
          vertical-align: middle;
          padding: 0;
          margin: 5px 10px 10px 0; }
        .bodySignUp .signUpPage .formPage form [type="submit"] {
          width: 50%;
          background: linear-gradient(140deg, #d55d92 0%, #47126b 100%);
          color: #e2e2e2;
          font-weight: 600;
          font-size: 1.1em;
          cursor: pointer; }
          .bodySignUp .signUpPage .formPage form [type="submit"]:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
      .bodySignUp .signUpPage .formPage .signInMessage {
        margin: 0 15px 0 100px; }
        .bodySignUp .signUpPage .formPage .signInMessage a {
          text-decoration: none;
          color: #571089;
          font-weight: 600; }
          .bodySignUp .signUpPage .formPage .signInMessage a:hover {
            text-decoration: underline; }
    .bodySignUp .signUpPage .welcomePage {
      color: #e2e2e2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      background: linear-gradient(140deg, #d55d92 0%, #47126b 100%);
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px; }
      .bodySignUp .signUpPage .welcomePage .welcomeTitle {
        font-weight: 600; }
      .bodySignUp .signUpPage .welcomePage .welcomeMessage {
        text-align: center;
        margin: 10px 100px; }
      .bodySignUp .signUpPage .welcomePage img {
        margin: 80px 0 15px 0;
        width: 50%; }

/* -------------------------------------- STYLES FOOTBALL CLUB PAGE -------------------------------------- */
.bodyFC {
  font-family: 'Raleway', sans-serif;
  background-color: #222222; }
  .bodyFC header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .bodyFC header img {
      width: 80px;
      height: auto;
      margin: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
    .bodyFC header .menuList {
      margin: 20px; }
      .bodyFC header .menuList .listItem {
        display: inline-block;
        padding: 0 10px; }
        .bodyFC header .menuList .listItem a {
          text-decoration: none;
          color: #e2e2e2; }
  .bodyFC main .heroFC {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(25, 188, 252, 0.5)), url("../img/FutbolPage/fondoFC.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e2e2e2; }
    .bodyFC main .heroFC .heroTitle {
      font-family: 'League Gothic', sans-serif;
      font-size: 5.5em; }
    .bodyFC main .heroFC .heroSubtitle {
      font-size: 1.1em; }
  .bodyFC main .noticiasFc {
    background-color: #222222;
    color: #e2e2e2; }
    .bodyFC main .noticiasFc .noticiasTitle {
      font-family: 'League Gothic', sans-serif;
      font-size: 4.5em;
      padding: 25px 30px;
      border-bottom: 1px solid #ccc; }
    .bodyFC main .noticiasFc article {
      margin: 25px 30px 80px 30px;
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      border-radius: 30px;
      padding: 25px; }
      .bodyFC main .noticiasFc article .articleTitle {
        font-size: 1.5em;
        font-weight: 500;
        margin: 10px 0; }
      .bodyFC main .noticiasFc article .articleSubtitle, .bodyFC main .noticiasFc article .articleDate {
        font-style: italic;
        font-size: 0.75em; }
      .bodyFC main .noticiasFc article img {
        width: 400px;
        height: auto;
        margin: 15px 0 0 0; }
      .bodyFC main .noticiasFc article .imgDetails {
        font-style: italic;
        font-size: 0.75em; }
      .bodyFC main .noticiasFc article .articleText {
        margin: 15px 0; }
  .bodyFC main .resultadosFc {
    color: #e2e2e2; }
    .bodyFC main .resultadosFc .resultadosTitle {
      font-family: 'League Gothic', sans-serif;
      font-size: 4.5em;
      padding: 25px 30px;
      text-align: center;
      border-bottom: 1px solid #ccc; }
    .bodyFC main .resultadosFc .resultadosTable {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 25px 0 80px 0; }
      .bodyFC main .resultadosFc .resultadosTable label {
        font-weight: 600;
        font-size: 1.25em; }
      .bodyFC main .resultadosFc .resultadosTable select {
        width: 30%;
        height: 40px;
        border: none;
        background-color: #222222;
        color: #e2e2e2;
        margin: 5px 0 15px 0;
        transition: all 0.6s ease; }
        .bodyFC main .resultadosFc .resultadosTable select:hover {
          background-color: #0f0f0f; }
        .bodyFC main .resultadosFc .resultadosTable select option {
          font-weight: 600;
          font-family: 'Raleway', sans-serif; }
      .bodyFC main .resultadosFc .resultadosTable table, .bodyFC main .resultadosFc .resultadosTable th, .bodyFC main .resultadosFc .resultadosTable td {
        border: 1px solid #e2e2e2;
        border-collapse: collapse; }
      .bodyFC main .resultadosFc .resultadosTable table {
        width: 60%;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; }
        .bodyFC main .resultadosFc .resultadosTable table tr {
          height: 40px; }
          .bodyFC main .resultadosFc .resultadosTable table tr:hover {
            background-color: #3db1df;
            color: #222222; }
  .bodyFC main .fixtureFc {
    color: #e2e2e2;
    display: flex;
    flex-direction: column; }
    .bodyFC main .fixtureFc .fixtureTitle {
      width: 100%;
      align-self: flex-end;
      font-family: 'League Gothic', sans-serif;
      font-size: 4.5em;
      padding: 25px 30px;
      text-align: end;
      border-bottom: 1px solid #ccc; }
    .bodyFC main .fixtureFc img {
      align-self: center;
      width: 150px;
      margin: 15px 0;
      -webkit-filter: drop-shadow(5px 5px 5px black);
      filter: drop-shadow(5px 5px 5px black); }
    .bodyFC main .fixtureFc .torneo {
      align-self: center;
      font-family: 'League Gothic', sans-serif;
      font-size: 3em;
      text-transform: uppercase; }
    .bodyFC main .fixtureFc .fixtureSubtitle {
      font-size: 1.25em;
      font-weight: 600;
      align-self: center; }
    .bodyFC main .fixtureFc section {
      margin: 50px; }
      .bodyFC main .fixtureFc section .nextCard {
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr 1fr;
        text-align: center;
        padding: 20px;
        margin: 10px 0 80px 0;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        cursor: pointer;
        transition: all 0.3s ease; }
        .bodyFC main .fixtureFc section .nextCard:hover {
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
  .bodyFC main .galeriaFc {
    color: #e2e2e2; }
    .bodyFC main .galeriaFc .galeriaTitle {
      width: 100%;
      font-family: 'League Gothic', sans-serif;
      font-size: 4.5em;
      padding: 25px 30px;
      text-align: start;
      border-bottom: 1px solid #ccc; }
    .bodyFC main .galeriaFc .photo-gallery {
      color: #e2e2e2;
      background-color: #222222; }
      .bodyFC main .galeriaFc .photo-gallery .photos {
        padding-bottom: 20px; }
      .bodyFC main .galeriaFc .photo-gallery .item {
        padding-bottom: 30px; }
  .bodyFC footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222; }
    .bodyFC footer .footerDerechos {
      font-size: 0.75em;
      margin: 5px 15px;
      color: #e2e2e2; }
    .bodyFC footer .footerRedes img {
      width: 20px;
      height: auto;
      filter: invert(89%) sepia(21%) saturate(0%) hue-rotate(161deg) brightness(101%) contrast(89%);
      margin: 5px 15px 5px 0;
      transition: all 0.4s ease; }
      .bodyFC footer .footerRedes img:hover {
        transform: scale(1.1); }

/* ---------------------------- Media queries ---------------------------- */
@media (max-width: 768px) {
  /* Sign Up page */
  .bodySignUp .signUpPage .formPage .formSignUp {
    margin-left: 50px; }
  .bodySignUp .signUpPage .formPage .formMessage {
    margin: 0 15px 15px 50px; }
  .bodySignUp .signUpPage .formPage form {
    margin-left: 50px; }
  .bodySignUp .signUpPage .formPage .signInMessage {
    margin: 0 15px 0 50px; }
  .bodySignUp .signUpPage .welcomePage .welcomeMessage {
    margin: 10px 50px; } }

@media (max-width: 576px) {
  /* index */
  .bodyIndex header {
    width: 100%; }
    .bodyIndex header .hamburgerIndex {
      display: inline-block; }
    .bodyIndex header #hamburger.on .one {
      transform: rotate(45deg) translate(5px, 5px); }
    .bodyIndex header #hamburger.on .two {
      opacity: 0; }
    .bodyIndex header #hamburger.on .three {
      transform: rotate(-45deg) translate(7px, -8px); }
    .bodyIndex header .headerList {
      position: absolute;
      right: 0px;
      top: 51px;
      border: 1px solid #e2e2e2;
      background-color: #222222;
      width: 100%;
      height: auto;
      padding: 10px;
      border-radius: 3px;
      line-height: 20px;
      text-align: center;
      margin: auto;
      display: none; }
      .bodyIndex header .headerList .listItem {
        display: block;
        padding: 20px; }
  /* Sign Up page */
  .bodySignUp header {
    position: static;
    width: 100%;
    margin: 0 0 30px 0;
    border-radius: 0;
    box-shadow: none; }
    .bodySignUp header .hamburgerSup {
      display: inline-block; }
    .bodySignUp header #hamburgerSup.on .one {
      transform: rotate(45deg) translate(5px, 5px); }
    .bodySignUp header #hamburgerSup.on .two {
      opacity: 0; }
    .bodySignUp header #hamburgerSup.on .three {
      transform: rotate(-45deg) translate(7px, -8px); }
    .bodySignUp header .menuList {
      display: none;
      position: absolute;
      width: 100%;
      top: 45px;
      background-color: whitesmoke;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; }
      .bodySignUp header .menuList .menuItem {
        display: block;
        padding: 15px 5px;
        margin: 20px 0px;
        text-align: center;
        transition: all 0.2s ease;
        font-size: 1.1em;
        font-weight: 600; }
        .bodySignUp header .menuList .menuItem:hover {
          background-color: #d55d92; }
          .bodySignUp header .menuList .menuItem:hover a {
            color: #e2e2e2; }
    .bodySignUp header a:nth-child(4) {
      display: none; }
  .bodySignUp .signUpPage {
    display: block; }
    .bodySignUp .signUpPage .formPage {
      width: 100%;
      align-items: center;
      text-align: center; }
      .bodySignUp .signUpPage .formPage .formSignUp {
        margin: 0 0 15px 0; }
      .bodySignUp .signUpPage .formPage .formMessage {
        margin: 0 0 15px 0; }
      .bodySignUp .signUpPage .formPage form {
        margin: 0 0 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .bodySignUp .signUpPage .formPage form br {
          display: none; }
      .bodySignUp .signUpPage .formPage .signInMessage {
        margin: 0 0 30px 0; }
    .bodySignUp .signUpPage .welcomePage {
      width: 100%;
      border-bottom-left-radius: 0;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      padding-bottom: 60px;
      text-align: center; }
      .bodySignUp .signUpPage .welcomePage .welcomeTitle {
        margin: 0 30px 10px 30px; }
      .bodySignUp .signUpPage .welcomePage .welcomeMessage {
        margin: 0 30px; } }
