/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "base/variables.scss";
@import "components/index.scss";
@import "components/signUp.scss";
@import "components/mediaqueries.scss";