/* -------------------------------------- STYLES FOOTBALL CLUB PAGE -------------------------------------- */

.bodyFC{
    font-family: 'Raleway', sans-serif;
    background-color: $black;
    header{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 80px;
            height: auto;
            margin: 20px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }
        .menuList{
            margin: 20px;
            .listItem{
                display: inline-block;
                padding: 0 10px;
                a{
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
    main{
        .heroFC{
            background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(25, 188, 252, 0.5)), url("../img/FutbolPage/fondoFC.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $white;
            .heroTitle{
                font-family: 'League Gothic', sans-serif;
                font-size: 5.5em;
            }
            .heroSubtitle{
                font-size: 1.1em;
            }
        }
        .noticiasFc{
            background-color: $black;
            color: $white;
            .noticiasTitle{
                font-family: 'League Gothic', sans-serif;
                font-size: 4.5em;
                padding: 25px 30px;
            }
            article{
                margin: 25px 30px 80px 30px;
                box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
                border-radius: 30px;
                padding: 25px;
                .articleTitle{
                    font-size: 1.5em;
                    font-weight: 500;
                    margin: 10px 0;
                }
                .articleSubtitle, .articleDate{
                    font-style: italic;
                    font-size: 0.75em;
                }
                img{
                    width: 400px;
                    height: auto;
                    margin: 15px 0 0 0;
                }
                .imgDetails{
                    font-style: italic;
                    font-size: 0.75em;
                }
                .articleText{
                    margin: 15px 0;
                }
            }
        }
    }
    footer{
        position: sticky;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $black;

        .footerDerechos{
            font-size: 0.75em;
            margin: 5px 15px;
            color: $white;
        }
        .footerRedes{
            img{
                width: 20px;
                height: auto;
                filter: invert(89%) sepia(21%) saturate(0%) hue-rotate(161deg) brightness(101%) contrast(89%);
                margin: 5px 15px 5px 0;
                transition: all 0.4s ease;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}