/* -------------------------------------- ESTILOS INDEX -------------------------------------- */
.bodyIndex{
    font-family: 'Montserrat', sans-serif;
    background-color: $black;
    color: $white;
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px #ccc solid;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        margin-bottom: 30px;
        a{
            text-decoration: none;
        }
        .logoJulian{
            margin-left: 15px;
            width: 35px;
            filter: invert(75%) sepia(96%) saturate(1%) hue-rotate(20deg) brightness(94%) contrast(110%);
            transition: all 0.1s linear;
            &:hover{
                filter: invert(48%) sepia(90%) saturate(1871%) hue-rotate(0deg) brightness(103%) contrast(104%);
            }          
        }
        .logoAfter{
            height: 35px;
            &::after{
                opacity: 0;
                position: absolute;
                top: 15px;
                left: -100%;
                content: "Julian Lobos";
                font-weight: 600;
                color: $index__color-principal;
                padding-left: 10px;
                transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
            &:hover{
                &::after{
                    opacity: 1;
                    left: 55px;
                }
            }
        }
        .headerList{
            margin: 15px;
            list-style: none;
            .listItem{
                display: inline-block;
                margin-right: 10px;
                a{
                    text-decoration: none;
                    color: $white;
                    transition: all 0.4s ease;
                    &:hover{
                        color: $index__color-principal;
                    }
                }
            }
        }

        .hamburgerIndex{
            width: 28px;
            height: 30px;
            margin: 10px 15px;
            display: none;
            div{
                width: 100%;
                height: 5px;
                background: white;
                margin: 4px auto;
                transition: all 0.3s;
                backface-visibility: hidden;
            }
        }
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        .indexTitle{
            color: $index__color-principal;
        }
        .projectList{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: center;
            li{
                padding: 35px;
                margin: 10px;
                border-radius: 30px;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                font-size: 1.15em;
                transition: all 0.3s ease;
                a{
                    text-decoration: none;
                    color: $white;
                    &:hover{
                        color: $index__color-principal;
                    }
                }
                &:hover{
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                }
            }
        }
    }
}

