@media (max-width: 768px) {
    .bodyIndex{
        main{
            .aboutMe{
                .aboutMeText{
                    margin: 1rem 1rem 3rem 1rem;
                }
                .profilePhoto{
                    width: 150px;
                }
                .languagesAndTech{
                    font-size: 2rem;
                }
            }
            .projectList{
                li{
                    height: 25vh;
                    font-size: 1em;
                }
            }
        }
    }
}