/* ---------------------------- Media queries ---------------------------- */
@media (max-width: 768px) {
    /* Sign Up page */ 
    .bodySignUp{
        .signUpPage{
            .formPage{
                .formSignUp{
                    margin-left: 50px;
                }
                .formMessage{
                    margin: 0 15px 15px 50px;
                }
                form{
                    margin-left: 50px;
                }
                .signInMessage{
                    margin: 0 15px 0 50px;
                }
            }
            .welcomePage{
                .welcomeMessage{
                    margin: 10px 50px;
                }
            }
        }
    }

}

@media (max-width: 576px) {
    /* index */ 
    .bodyIndex{
        header{
            width: 100%;
            .hamburgerIndex{
                display: inline-block;
            }
            #hamburger.on .one {
                transform: rotate(45deg) translate(5px, 5px);
            }
              
            #hamburger.on .two {
            opacity: 0;
            }
            
            #hamburger.on .three {
            transform: rotate(-45deg) translate(7px, -8px);
            }

            .headerList{
                position: absolute;
                right: 0px;
                top: 51px;
                border: 1px solid $white;
                background-color: $black;
                width: 100%;
                height: auto;
                padding: 10px;
                border-radius: 3px;
                line-height: 20px;
                text-align: center;
                margin: auto;
                display: none;
                .listItem{
                    display: block;
                    padding: 20px;
                }
            }
        }
    }

    /* Sign Up page */ 

    .bodySignUp{
        header{
            position: static;
            width: 100%;
            margin: 0 0 30px 0;
            border-radius: 0;
            box-shadow: none;
            .hamburgerSup{
                display: inline-block;
            }
            #hamburgerSup.on .one {
                transform: rotate(45deg) translate(5px, 5px);
            }
              
            #hamburgerSup.on .two {
            opacity: 0;
            }
            
            #hamburgerSup.on .three {
            transform: rotate(-45deg) translate(7px, -8px);
            }

            .menuList{
                display: none;
                position: absolute;
                width: 100%;
                top: 45px;
                background-color: rgb(245, 245, 245);
                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
                .menuItem{
                    display: block;
                    padding: 15px 5px;
                    margin: 20px 0px;
                    text-align: center;
                    transition: all 0.2s ease;
                    font-size: 1.1em;
                    font-weight: 600;
                    &:hover{
                        background-color: $signUp__color6;
                        a{
                            color: $white;
                        }
                    }
                }
            }
            a:nth-child(4){
                display: none;
            }
        }
        .signUpPage{
            display: block;
            .formPage{
                width: 100%;
                align-items: center;
                text-align: center;
                .formSignUp{
                    margin: 0 0 15px 0;
                }
                .formMessage{
                    margin: 0 0 15px 0;
                }
                form{
                    margin: 0 0 15px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    br{
                        display: none;
                    }
                }
                .signInMessage{
                    margin: 0 0 30px 0;
                }
            }
            .welcomePage{
                width: 100%;
                border-bottom-left-radius: 0;
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
                padding-bottom: 60px;
                text-align: center;
                .welcomeTitle{
                    margin: 0 30px 10px 30px;
                }
                .welcomeMessage{
                    margin: 0 30px;
                }
            }
        }
    }

    /* Football Club page */
    .bodyFC{
        header{
            position: fixed;
            height: 90px;
            background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
            justify-content: space-between;
            padding-top: 10px;
            img{
                height: 85px;
                width: auto;
            }
            .menuList{
                display: none;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100vh;
                background-color: rgb(15, 127, 172);
                margin: 0;
                padding: 30% 0 0 0;
                .listItem{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 60px;
                    font-family: 'Oswald', sans-serif;
                    text-transform: uppercase;
                    font-size: 1.5em;
                    &:hover{
                        a{
                            color: $black;
                        }
                        background-color: $white;
                    }
                    


                }
            }
            .hamburgerFc{
                display: inline-block;
                z-index: 1;
            }
            #hamburgerFc.on .one {
                transform: rotate(45deg) translate(5px, 5px);
            }
              
            #hamburgerFc.on .two {
            opacity: 0;
            }
            
            #hamburgerFc.on .three {
            transform: rotate(-45deg) translate(7px, -8px);
            }
        }
    }
    

    
}