// colores grales
$black: #222222;
$white: #e2e2e2;

// colores index 

$index__fondo: #f1f1f1;
$index__fondo2: #15616d;
$index__fondo3: #05304e;
$index__color-principal: #ff7d00;
$index__color-secundario: #78290f;

// colores sign up 

$bg-gradient: linear-gradient(140deg, rgba(213,93,146,1) 0%, rgba(71,18,107,1) 100%);
$signUp__fondo: #47126b;
$signUp__fondo2: #571089;
$signUp__fondo3: #6411ad;
$signUp__color-principal: #6d23b6;
$signUp__color-secundario: #822faf;
$signUp__color-terciario: #973aa8;
$signUp__color4: #ac46a1;
$signUp__color5: #c05299;
$signUp__color6: #d55d92;
$signUp__color7: #ea698b;

// colores clod storage dashboard

$cloudColor: #eff2f9;
$cloudColor2: #e4ebf1;
$cloudColor3: #b5bfc6;
$cloudColor4: #6e7f8d;


$cloudShadow: 5px 5px 30px #d1d2d4,
-5px -5px 30px #ffffff;