// colores grales
$black: #222222;
$white: #e2e2e2;

// colores index 

$index__fondo: #f1f1f1;
$index__fondo2: #15616d;
$index__fondo3: #001524;
$index__color-principal: #ff7d00;
$index__color-secundario: #78290f;

// colores sign in 

$signin__fondo: #47126b;
$signin__fondo2: #571089;
$signin__fondo3: #6411ad;
$signin__color-principal: #6d23b6;
$signin__color-secundario: #822faf;
$signin__color-terciario: #973aa8;
$signin__color4: #ac46a1;
$signin__color5: #c05299;
$signin__color6: #d55d92;
$signin__color7: #ea698b;

